﻿@{
    ViewBag.Title = "Edit";
}

<form method="post" action="/Requests/Edit/@ViewBag.Request.Id">

    <div class="form-floating mb-3">
        <input type="text" class="form-control" name="Description" value="@ViewBag.Request.Description" placeholder="">
        <label>De ce vreti ca acest produs sa fie adaugat in magazinul nostru online?</label>
    </div>

    <t>Detalii produs</t>
    <br />
    <div class="form-floating mb-3">
        <input type="text" class="form-control" name="Description" value="@ViewBag.Request.ProductName" placeholder="">
        <label>Nume produs</label>
    </div>

    <div class="form-floating mb-3">
        <textarea class="form-control" name="ProductDescription" placeholder="" style="height: 100px; margin-bottom: 15px;"></textarea>
        <label>Descriere produs</label>
    </div>

    <div class="form-floating mb-3">
        <input type="number" class="form-control" name="ProductPrice" value="@ViewBag.Request.ProductPrice" placeholder="">
        <label>Pret</label>
    </div>

    @* <div class="mb-3">
    <label class="form-label">Imagine</label>
    <input class="form-control" name="Picture" value="@ViewBag.Request.ProductPicture" type="file">
    </div> *@

    <label>Imagine</label>
    <textarea name="ProductPicture" value="@ViewBag.Request.ProductPicture"></textarea>
    <br />
    <br />

    <select class="form-select" name="CategoryId" style="margin-bottom: 15px">
        @foreach (var category in ViewBag.Categories)
        {
            if (category.Id == ViewBag.Category.Id)
            {
                <option selected="selected" value="@category.Id">@category.CategoryName</option>
            }
            else
            {
                <option value="@category.Id">
                    @category.CategoryName
                </option>
            }
        }
    </select>

    <button class="btn btn-success" type="submit">Modifica cerere</button>

</form>