﻿@{
    ViewBag.Title = "Index";
}

@if (TempData["message"] != null)
{
    <div class="alert @ViewBag.Alert p-3 rounded-3 text-center mb-5">
        @ViewBag.Message
    </div>
}

<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Descriere</th>
            <th scope="col">Status</th>
            <th scope="col">User</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var request in ViewBag.Requests)
        {
            <tr onclick="window.location='@Url.Action("Show", "Requests", new { id = request.Id })';" style="cursor:pointer;">
                <td>@request.Id</td>
                <td>@request.Description</td>
                <td>@request.Status</td>
                <td>@request.User.UserName</td>
            </tr>
        }
    </tbody>
</table>