@{
    ViewBag.Title = "Index";
}
@if (TempData["message"] != null)
{
    <div class="alert @ViewBag.Alert p-3 rounded-3 text-center mb-5">
        @ViewBag.Message
    </div>
}
<h2 class="text-center">Afisare produse</h2>
<br />
<form method="GET">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Cauta produse" name="search"
               value="@ViewBag.SearchString">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </div>
</form>

<div class="grid text-center" style="--bs-columns: 3;">
    @foreach (var product in ViewBag.Products)
    {

                <h3 class="card-title alert-success py-3 px-3 rounded-2">@product.Name</h3>
                <div class="card-text">@product.Price<div>LEI</div></div>
                <div><i class="bi bi-globe"></i> @product.Category.CategoryName</div>
                <div><i class="bi bi-person"></i> @product.User.UserName</div>
                <a class="btn btn-success" href="/Products/Show/@product.Id">Afisare produs</a>

        <br />
        <br />
    }
</div>




